<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('SQL检测任务列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form autocomplete="off" id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label th:title="#{common.support.batch}"><i class="fa fa-question-circle-o"></i> [[#{sql.job.id}]]：</label>
                            <input type="text" name="params[ids]"/>
                        </li>
                        <li>
                            <label>ASID：</label>
                            <input type="text" name="asid"/>
                        </li>
                        <li>
                            <label>[[#{sql.job.name}]]：</label>
                            <input type="text" name="chName"/>
                        </li>
                        <li>
                            <label>[[#{sql.job.status}]]：</label>
                            <select name="status" th:with="type=${@dict.getType('sys_job_status')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>[[#{sql.job.platform}]]：</label>
                            <select name="platform" th:with="type=${@dict.getType('ub8_platform_type')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>[[#{sql.job.alert}]]：</label>
                            <select name="telegramAlert" th:with="type=${@dict.getType('sys_normal_disable')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>[[#{sql.job.action}]]：</label>
                            <select name="actionItem" th:with="type=${@dict.getType('job_call_who')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>[[#{common.create.time}]]：</label>
                            <input type="text" class="time-input" id="startTime" th:placeholder="#{common.start.time}" name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" th:placeholder="#{common.end.time}" name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;[[#{common.query}]]</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="monitor:sqlJob:add">
                <i class="fa fa-plus"></i> [[#{common.add}]]
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="monitor:sqlJob:edit">
                <i class="fa fa-edit"></i> [[#{common.modify}]]
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="monitor:sqlJob:remove">
                <i class="fa fa-remove"></i> [[#{common.delete}]]
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:sqlJob:export">
                <i class="fa fa-download"></i> [[#{common.export}]]
            </a>
            <a class="btn btn-info" onclick="javascript:jobLog()" shiro:hasPermission="monitor:sqlJobLog:view">
                <i class="fa fa-list"></i> [[#{sql.job.log.log}]]
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('monitor:sqlJob:edit')}]];
    var removeFlag = [[${@permission.hasPermi('monitor:sqlJob:remove')}]];
    var detailFlag = [[${@permission.hasPermi('monitor:sqlJob:detail')}]];
    var logFlag = [[${@permission.hasPermi('monitor:sqlJobLog:view')}]];
    var statusFlag = [[${@permission.hasPermi('monitor:sqlJob:changeStatus')}]];
    var alertFlag = [[${@permission.hasPermi('monitor:sqlJob:changeAlert')}]];
    var runFlag = [[${@permission.hasPermi('monitor:sqlJob:runOnce')}]];
    var PLATFORMDatas = [[${@dict.getType('ub8_platform_type')}]];
    var autoMatchDatas = [[${@dict.getType('job_auto_comparison')}]];
    var telegramAlertDatas = [[${@dict.getType('sys_normal_disable')}]];
    var requesterDatas = [[${@dict.getType('job_requester_list')}]];
    var priorityDatas = [[${@dict.getType('job_priority_list')}]];
    var actionItemDatas = [[${@dict.getType('job_call_who')}]];
    var tgGroupDatas = [[${@dict.getType('telegram_notice_group')}]];
    var prefix = ctx + "monitor/sqlJob";

    $(function () {
        var options = {
            url: prefix + "/list",
            detailUrl: prefix + "/detail/{id}",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: i18n('sql.job.sql.task'),
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    sortable: true
                },
                {
                    field: 'asid',
                    title: 'ASID',
                    sortable: true
                },
                {
                    field: 'chName',
                    title: i18n('sql.job.name_zh'),
                    visible: i18n('locale') !== 'en-US'
                },
                {
                    field: 'enName',
                    title: i18n('sql.job.name_en'),
                    visible: i18n('locale') === 'en-US'
                },
                {
                    field: 'platform',
                    title: i18n('sql.job.platform'),
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(PLATFORMDatas, value);
                    }
                },
                {
                    field: 'cronExpression',
                    title: i18n('sql.job.cron.expression')
                },
                {
                    field: 'priority',
                    title: i18n('sql.job.priority'),
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(priorityDatas, value);
                    }
                },
                {
                    field: 'actionItem',
                    title: i18n('sql.job.action'),
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(actionItemDatas, value);
                    }
                },
                {
                    visible: statusFlag === 'hidden' ? false : true,
                    title: i18n('sql.job.status'),
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    visible: alertFlag === 'hidden' ? false : true,
                    title: i18n('sql.job.alert'),
                    align: 'center',
                    formatter: function (value, row, index) {
                        return alertTools(row);
                    }
                },
                {
                    field: 'telegramConfig',
                    title: i18n('sql.job.tg.group'),
                    visible: false,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(tgGroupDatas, value);
                    }
                },
                {
                    field: 'createBy',
                    title: i18n('common.create.by')
                },
                {
                    field: 'createTime',
                    title: i18n('common.create.time'),
                    sortable: true
                },
                {
                    field: 'updateBy',
                    title: i18n('common.update.by')
                },
                {
                    field: 'updateTime',
                    title: i18n('common.update.time'),
                    sortable: true
                },
                {
                    field: 'lastAlert',
                    title: i18n('sql.job.last.alert'),
                    sortable: true
                },
                {
                    title: i18n('gen.operating'),
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>' + i18n('common.edit') + '</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>' + i18n('common.delete') + '</a>');
                        var more = [];
                        more.push("<a class='btn btn-default btn-xs " + runFlag + "' href='javascript:void(0)' onclick='run(" + row.id + ")'><i class='fa fa-play-circle-o'></i> " + i18n('sql.job.run.once') + "</a> ");
                        more.push("<a class='btn btn-default btn-xs " + detailFlag + "' href='javascript:void(0)' onclick='$.operate.detail(" + row.id + ")'><i class='fa fa-search'></i>" + i18n('sql.job.detail') + "</a> ");
                        more.push("<a class='btn btn-default btn-xs " + logFlag + "' href='javascript:void(0)' onclick='jobLog(" + row.id + ")'><i class='fa fa-list'></i>" + i18n('sql.job.log') + "</a>");
                        actions.push('<a class="btn btn-info btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>' + i18n('common.more') + '</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    /* 调度任务状态显示 */
    function statusTools(row) {
        if (row.status == 1) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="start(\'' + row.id + '\', \'' + row.platform + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="stop(\'' + row.id + '\', \'' + row.platform + '\')"></i> ';
        }
    }

    /* 调度任务告警显示 */
    function alertTools(row) {
        if (row.telegramAlert == 1) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="tgStart(\'' + row.id + '\', \'' + row.platform + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="tgStop(\'' + row.id + '\', \'' + row.platform + '\')"></i> ';
        }
    }

    /* 立即执行一次 */
    function run(jobId) {
        $.modal.confirm(i18n('sql.job.confirm.run.once'), function () {
            $.operate.post(prefix + "/run", {"id": jobId});
        })
    }

    /* 调度任务-停用 */
    function stop(jobId, jobGroup) {
        $.modal.confirm(i18n('sql.job.confirm.stop'), function () {
            $.operate.post(prefix + "/changeStatus", {"id": jobId, "platform": jobGroup, "status": 1});
        })
    }

    /* 调度任务-启用 */
    function start(jobId, jobGroup) {
        $.modal.confirm(i18n('sql.job.confirm.start'), function () {
            $.operate.post(prefix + "/changeStatus", {"id": jobId, "platform": jobGroup, "status": 0});
        })
    }

    /* 告警-停用 */
    function tgStop(jobId, jobGroup) {
        $.modal.confirm(i18n('sql.job.confirm.stop.alert'), function () {
            $.operate.post(prefix + "/changeAlert", {"id": jobId, "platform": jobGroup, "telegramAlert": 1});
        })
    }

    /* 告警-启用 */
    function tgStart(jobId, jobGroup) {
        $.modal.confirm(i18n('sql.job.confirm.start.alert'), function () {
            $.operate.post(prefix + "/changeAlert", {"id": jobId, "platform": jobGroup, "telegramAlert": 0});
        })
    }

    /* 调度日志查询 */
    function jobLog(jobId) {
        var url = ctx + 'monitor/sqlJobLog';
        if ($.common.isNotEmpty(jobId)) {
            url += '?jobId=' + jobId;
        }
        $.modal.openTab(i18n('sql.job.sql.task.log'), url);
    }
</script>
</body>
</html>