<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.quartz.mapper.MoniElasticLogMapper">
    
    <resultMap type="MoniElasticLog" id="MoniElasticLogResult">
        <result property="id"    column="ID"    />
        <result property="elasticId"    column="ELASTIC_ID"    />
        <result property="startTime"    column="START_TIME"    />
        <result property="endTime"    column="END_TIME"    />
        <result property="expectedResult"    column="EXPECTED_RESULT"    />
        <result property="executeResult"    column="EXECUTE_RESULT"    />
        <result property="exceptionLog"    column="EXCEPTION_LOG"    />
        <result property="executeTime"    column="EXECUTE_TIME"    />
        <result property="status"    column="STATUS"    />
        <result property="alertStatus"    column="ALERT_STATUS"    />
        <result property="operator"    column="OPERATOR"    />
        <result property="exportResult"    column="EXPORT_RESULT"    />
        <collection  property="moniElastic"   javaType="MoniElastic"   resultMap="moniElasticResult" />
    </resultMap>

    <resultMap type="MoniElastic" id="moniElasticResult">
        <result property="enName"    column="EN_NAME"    />
        <result property="chName"    column="CH_NAME"    />
        <result property="platform"    column="PLATFORM"    />
        <result property="priority"    column="PRIORITY"    />
        <result property="asid"    column="ASID"    />
    </resultMap>

    <sql id="selectMoniElasticLogVo">
        select MEL.ID, MEL.ELASTIC_ID, MEL.START_TIME, MEL.END_TIME, MEL.EXPECTED_RESULT, MEL.EXECUTE_RESULT, MEL.EXCEPTION_LOG, MEL.EXECUTE_TIME, MEL.STATUS, MEL.ALERT_STATUS, MEL.OPERATOR, MEL.EXPORT_RESULT,
        ME.EN_NAME, ME.CH_NAME, ME.PLATFORM, ME.PRIORITY, ME.ASID
        from MONI_ELASTIC_log MEL
        left join MONI_ELASTIC ME on MEL.ELASTIC_ID = ME.ID
    </sql>

    <select id="selectMoniElasticLogList" parameterType="MoniElasticLog" resultMap="MoniElasticLogResult">
        <include refid="selectMoniElasticLogVo"/>
        <where>
            <if test="params.jobName != null and params.jobName != ''"> and (ME.CH_NAME like concat('%', #{params.jobName}, '%') or ME.EN_NAME like concat('%', #{params.jobName}, '%'))</if>
            <if test="elasticId != null and elasticId != ''"> and MEL.ELASTIC_ID = #{elasticId}</if>
            <if test="params.priority != null and params.priority != ''"> and ME.PRIORITY = #{params.priority}</if>
            <if test="params.platform != null and params.platform != ''"> and ME.PLATFORM = #{params.platform}</if>
            <if test="params.beginStartTime != null and params.beginStartTime != ''"><!-- 开始时间检索 -->
                AND date_format(MEL.START_TIME,'%y%m%d') &gt;= date_format(#{params.beginStartTime},'%y%m%d')
            </if>
            <if test="params.endStartTime != null and params.endStartTime != ''"><!-- 结束时间检索 -->
                AND date_format(MEL.START_TIME,'%y%m%d') &lt;= date_format(#{params.endStartTime},'%y%m%d')
            </if>
            <if test="status != null  and status != ''"> and MEL.STATUS = #{status}</if>
        </where>
    </select>
    
    <select id="selectMoniElasticLogById" parameterType="Long" resultMap="MoniElasticLogResult">
        <include refid="selectMoniElasticLogVo"/>
        where MEL.ID = #{id}
    </select>

    <update id="cleanElasticJobLog">
            truncate table MONI_ELASTIC_log
    </update>

    <select id="selectMoniElasticLogListNoSuccess" resultMap="MoniElasticLogResult">
        <include refid="selectMoniElasticLogVo"/>
        where MEL.STATUS != '0' and MEL.START_TIME &gt;= DATE_SUB(NOW(),INTERVAL 1 HOUR) and OPERATOR = 'system' order by MEL.START_TIME desc
    </select>
        
    <insert id="insertMoniElasticLog" parameterType="MoniElasticLog" useGeneratedKeys="true" keyProperty="id">
        insert into MONI_ELASTIC_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elasticId != null">ELASTIC_ID,</if>
            <if test="startTime != null">START_TIME,</if>
            <if test="endTime != null">END_TIME,</if>
            <if test="expectedResult != null">EXPECTED_RESULT,</if>
            <if test="executeResult != null">EXECUTE_RESULT,</if>
            <if test="exceptionLog != null">EXCEPTION_LOG,</if>
            <if test="executeTime != null">EXECUTE_TIME,</if>
            <if test="status != null">STATUS,</if>
            <if test="alertStatus != null">ALERT_STATUS,</if>
            <if test="operator != null">OPERATOR,</if>
            <if test="exportResult != null">EXPORT_RESULT,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elasticId != null">#{elasticId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="expectedResult != null">#{expectedResult},</if>
            <if test="executeResult != null">#{executeResult},</if>
            <if test="exceptionLog != null">#{exceptionLog},</if>
            <if test="executeTime != null">#{executeTime},</if>
            <if test="status != null">#{status},</if>
            <if test="alertStatus != null">#{alertStatus},</if>
            <if test="operator != null">#{operator},</if>
            <if test="exportResult != null">#{exportResult},</if>
         </trim>
    </insert>

    <update id="updateMoniElasticLog" parameterType="MoniElasticLog">
        update MONI_ELASTIC_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="elasticId != null">ELASTIC_ID = #{elasticId},</if>
            <if test="startTime != null">START_TIME = #{startTime},</if>
            <if test="endTime != null">END_TIME = #{endTime},</if>
            <if test="expectedResult != null">EXPECTED_RESULT = #{expectedResult},</if>
            <if test="executeResult != null">EXECUTE_RESULT = #{executeResult},</if>
            <if test="exceptionLog != null">EXCEPTION_LOG = #{exceptionLog},</if>
            <if test="executeTime != null">EXECUTE_TIME = #{executeTime},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="alertStatus != null">ALERT_STATUS = #{alertStatus},</if>
            <if test="operator != null">OPERATOR = #{operator},</if>
            <if test="exportResult != null">EXPORT_RESULT = #{exportResult},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMoniElasticLogById" parameterType="Long">
        delete from MONI_ELASTIC_log where ID = #{id}
    </delete>

    <delete id="deleteMoniElasticLogByIds" parameterType="String">
        delete from MONI_ELASTIC_log where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="callbackElasticLog" parameterType="MoniElasticLog">
        update MONI_ELASTIC_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertStatus != null">ALERT_STATUS = #{alertStatus},</if>
            <if test="operator != null">OPERATOR = #{operator},</if>
        </trim>
        where ID = #{id}
    </update>

</mapper>