<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.quartz.mapper.MoniJobLogMapper">
    
    <resultMap type="MoniJobLog" id="MoniJobLogResult">
        <result property="id"    column="ID"    />
        <result property="jobId"    column="JOB_ID"    />
        <result property="startTime"    column="START_TIME"    />
        <result property="endTime"    column="END_TIME"    />
        <result property="executeResult"    column="EXECUTE_RESULT"    />
        <result property="expectedResult"    column="EXPECTED_RESULT"    />
        <result property="exceptionLog"    column="EXCEPTION_LOG"    />
        <result property="executeTime"    column="EXECUTE_TIME"    />
        <result property="status"    column="STATUS"    />
        <result property="alertStatus"    column="ALERT_STATUS"    />
        <result property="operator"    column="OPERATOR"    />
        <collection  property="moniJob"   javaType="MoniJob"   resultMap="moniJobResult" />
    </resultMap>

    <resultMap type="MoniJob" id="moniJobResult">
        <result property="enName"    column="EN_NAME"    />
        <result property="chName"    column="CH_NAME"    />
        <result property="descr"    column="DESCR"    />
        <result property="platform"    column="PLATFORM"    />
    </resultMap>

    <sql id="selectMoniJobLogVo">
        select MJL.ID, MJL.JOB_ID, MJL.START_TIME, MJL.END_TIME, MJL.EXECUTE_RESULT, MJL.EXPECTED_RESULT, MJL.EXCEPTION_LOG, MJL.EXECUTE_TIME, MJL.STATUS, MJL.ALERT_STATUS, MJL.OPERATOR,
        MJ.EN_NAME, MJ.CH_NAME, MJ.DESCR, MJ.PLATFORM
        from moni_job_log MJL
        left join moni_job MJ on MJL.JOB_ID = MJ.ID
    </sql>

    <select id="selectMoniJobLogList" parameterType="MoniJobLog" resultMap="MoniJobLogResult">
        <include refid="selectMoniJobLogVo"/>
        <where>  
            <if test="params.jobName != null "> and (MJ.CH_NAME like concat('%', #{params.jobName}, '%') or MJ.EN_NAME like concat('%', #{params.jobName}, '%'))</if>
            <if test="jobId != null "> and MJL.JOB_ID = #{jobId}</if>
            <if test="params.beginStartTime != null and params.beginStartTime != ''"><!-- 开始时间检索 -->
                AND date_format(MJL.START_TIME,'%y%m%d') &gt;= date_format(#{params.beginStartTime},'%y%m%d')
            </if>
            <if test="params.endStartTime != null and params.endStartTime != ''"><!-- 结束时间检索 -->
                AND date_format( MJL.START_TIME,'%y%m%d') &lt;= date_format(#{params.endStartTime},'%y%m%d')
            </if>
            <if test="status != null  and status != ''"> and MJL.STATUS = #{status}</if>
        </where>
    </select>

    <select id="selectLossByIds" parameterType="String" resultMap="MoniJobLogResult">
        <include refid="selectMoniJobLogVo"/>
        <where>
            <if test="jobIds != null and jobIds.length > 0">
                AND MJL.JOB_ID in
                <foreach collection="jobIds" item="jobId" index="index" open="(" separator="," close=")">
                    #{jobId}
                </foreach>
            </if>
            AND MJL.START_TIME > DATE_SUB(NOW(), INTERVAL 2 HOUR)
            AND MJL.STATUS = '1'
        </where>
    </select>

    <select id="selectMoniJobLogListNoSuccess" resultMap="MoniJobLogResult">
        <include refid="selectMoniJobLogVo"/>
        where MJL.STATUS != '0' and MJL.START_TIME &gt;= DATE_SUB(NOW(),INTERVAL 1 HOUR)
    </select>
    
    <select id="selectMoniJobLogById" parameterType="Long" resultMap="MoniJobLogResult">
        <include refid="selectMoniJobLogVo"/>
        where MJL.ID = #{id}
    </select>

     	<update id="cleanSqlJobLog">
            truncate table moni_job_log
        </update>
        
    <insert id="insertMoniJobLog" parameterType="MoniJobLog" useGeneratedKeys="true" keyProperty="id">
        insert into moni_job_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobId != null">JOB_ID,</if>
            <if test="startTime != null">START_TIME,</if>
            <if test="endTime != null">END_TIME,</if>
            <if test="executeResult != null">EXECUTE_RESULT,</if>
            <if test="expectedResult != null">EXPECTED_RESULT,</if>
            <if test="exceptionLog != null">EXCEPTION_LOG,</if>
            <if test="executeTime != null">EXECUTE_TIME,</if>
            <if test="status != null">STATUS,</if>
            <if test="alertStatus != null">ALERT_STATUS,</if>
            <if test="operator != null">OPERATOR,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobId != null">#{jobId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="executeResult != null">#{executeResult},</if>
            <if test="expectedResult != null">#{expectedResult},</if>
            <if test="exceptionLog != null">#{exceptionLog},</if>
            <if test="executeTime != null">#{executeTime},</if>
            <if test="status != null">#{status},</if>
            <if test="alertStatus != null">#{alertStatus},</if>
            <if test="operator != null">#{operator},</if>
         </trim>
    </insert>

    <update id="updateMoniJobLog" parameterType="MoniJobLog">
        update moni_job_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="startTime != null">START_TIME = #{startTime},</if>
            <if test="endTime != null">END_TIME = #{endTime},</if>
            <if test="executeResult != null">EXECUTE_RESULT = #{executeResult},</if>
            <if test="expectedResult != null">EXPECTED_RESULT = #{expectedResult},</if>
            <if test="exceptionLog != null">EXCEPTION_LOG = #{exceptionLog},</if>
            <if test="executeTime != null">EXECUTE_TIME = #{executeTime},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="alertStatus != null">ALERT_STATUS = #{alertStatus},</if>
            <if test="operator != null">OPERATOR = #{operator},</if>
        </trim>
        where ID = #{id}
    </update>

    <update id="callbackMoniJobLog" parameterType="MoniJobLog">
        update moni_job_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">STATUS = #{status},</if>
            <if test="alertStatus != null">ALERT_STATUS = #{alertStatus},</if>
            <if test="operator != null">OPERATOR = #{operator},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMoniJobLogById" parameterType="Long">
        delete from moni_job_log where ID = #{id}
    </delete>

    <delete id="deleteMoniJobLogByIds" parameterType="String">
        delete from moni_job_log where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>