<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.quartz.mapper.MoniElasticMapper">
    
    <resultMap type="MoniElastic" id="MoniElasticResult">
        <result property="id"    column="ID"    />
        <result property="asid"    column="ASID"    />
        <result property="ticketNumber"    column="TICKET_NUMBER"    />
        <result property="enName"    column="EN_NAME"    />
        <result property="chName"    column="CH_NAME"    />
        <result property="status"    column="STATUS"    />
        <result property="platform"    column="PLATFORM"    />
        <result property="cronExpression"    column="CRON_EXPRESSION"    />
        <result property="telegramAlert"    column="TELEGRAM_ALERT"    />
        <result property="telegramInfo"    column="TELEGRAM_INFO"    />
        <result property="telegramConfig"    column="TELEGRAM_CONFIG"    />
        <result property="requester"    column="REQUESTER"    />
        <result property="priority"    column="PRIORITY"    />
        <result property="actionItem"    column="ACTION_ITEM"    />
        <result property="descr"    column="DESCR"    />
        <result property="index"    column="INDEX"    />
        <result property="query"    column="QUERY"    />
        <result property="timeFrom"    column="TIME_FROM"    />
        <result property="timeTo"    column="TIME_TO"    />
        <result property="autoMatch"    column="AUTO_MATCH"    />
        <result property="expectedResult"    column="EXPECTED_RESULT"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="lastAlert"    column="LAST_ALERT"    />
        <result property="ignoreAlert"    column="IGNORE_ALERT"    />
    </resultMap>

    <sql id="selectMoniElasticVo">
        select ID, ASID, TICKET_NUMBER, EN_NAME, CH_NAME, STATUS, PLATFORM, CRON_EXPRESSION, TELEGRAM_ALERT, TELEGRAM_INFO, TELEGRAM_CONFIG, REQUESTER, PRIORITY, ACTION_ITEM, DESCR, `INDEX`, QUERY, TIME_FROM, TIME_TO, AUTO_MATCH, EXPECTED_RESULT, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, LAST_ALERT, IGNORE_ALERT from moni_elastic
    </sql>

    <select id="selectMoniElasticList" parameterType="MoniElastic" resultMap="MoniElasticResult">
        <include refid="selectMoniElasticVo"/>
        <where>
            <if test="params.ids != null  and params.ids.length > 0">
                and ID in
                <foreach collection="params.ids" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="asid != null  and asid != ''"> and ASID like concat('%', #{asid}, '%')</if>
            <if test="chName != null  and chName != ''"> and CH_NAME like concat('%', #{chName}, '%')</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="platform != null  and platform != ''"> and PLATFORM = #{platform}</if>
            <if test="priority != null  and priority != ''"> and PRIORITY = #{priority}</if>
            <if test="telegramAlert != null  and telegramAlert != ''"> and TELEGRAM_ALERT = #{telegramAlert}</if>
            <if test="actionItem != null  and actionItem != ''"> and ACTION_ITEM = #{actionItem}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"><!-- 开始时间检索 -->
                AND date_format(CREATE_TIME,'%y%m%d') &gt;= date_format(#{params.beginCreateTime},'%y%m%d')
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"><!-- 结束时间检索 -->
                AND date_format(CREATE_TIME,'%y%m%d') &lt;= date_format(#{params.endCreateTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectMoniElasticById" parameterType="Long" resultMap="MoniElasticResult">
        <include refid="selectMoniElasticVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertMoniElastic" parameterType="MoniElastic" useGeneratedKeys="true" keyProperty="id">
        insert into moni_elastic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="asid != null and asid != ''">ASID,</if>
            <if test="ticketNumber != null">TICKET_NUMBER,</if>
            <if test="enName != null and enName != ''">EN_NAME,</if>
            <if test="chName != null and chName != ''">CH_NAME,</if>
            <if test="status != null and status != ''">STATUS,</if>
            <if test="platform != null and platform != ''">PLATFORM,</if>
            <if test="cronExpression != null and cronExpression != ''">CRON_EXPRESSION,</if>
            <if test="telegramAlert != null and telegramAlert != ''">TELEGRAM_ALERT,</if>
            <if test="telegramInfo != null">TELEGRAM_INFO,</if>
            <if test="telegramConfig != null and telegramConfig != ''">TELEGRAM_CONFIG,</if>
            <if test="requester != null and requester != ''">REQUESTER,</if>
            <if test="priority != null and priority != ''">PRIORITY,</if>
            <if test="actionItem != null and actionItem != ''">ACTION_ITEM,</if>
            <if test="descr != null">DESCR,</if>
            <if test="index != null and index != ''">`INDEX`,</if>
            <if test="query != null and query != ''">QUERY,</if>
            <if test="timeFrom != null and timeFrom != ''">TIME_FROM,</if>
            <if test="timeTo != null and timeTo != ''">TIME_TO,</if>
            <if test="autoMatch != null and autoMatch != ''">AUTO_MATCH,</if>
            <if test="expectedResult != null">EXPECTED_RESULT,</if>
            <if test="createBy != null and createBy != ''">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null and updateBy != ''">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="lastAlert != null">LAST_ALERT,</if>
            <if test="ignoreAlert != null and ignoreAlert != ''">IGNORE_ALERT,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="asid != null and asid != ''">#{asid},</if>
            <if test="ticketNumber != null">#{ticketNumber},</if>
            <if test="enName != null and enName != ''">#{enName},</if>
            <if test="chName != null and chName != ''">#{chName},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="platform != null and platform != ''">#{platform},</if>
            <if test="cronExpression != null and cronExpression != ''">#{cronExpression},</if>
            <if test="telegramAlert != null and telegramAlert != ''">#{telegramAlert},</if>
            <if test="telegramInfo != null">#{telegramInfo},</if>
            <if test="telegramConfig != null and telegramConfig != ''">#{telegramConfig},</if>
            <if test="requester != null and requester != ''">#{requester},</if>
            <if test="priority != null and priority != ''">#{priority},</if>
            <if test="actionItem != null and actionItem != ''">#{actionItem},</if>
            <if test="descr != null">#{descr},</if>
            <if test="index != null and index != ''">#{index},</if>
            <if test="query != null and query != ''">#{query},</if>
            <if test="timeFrom != null and timeFrom != ''">#{timeFrom},</if>
            <if test="timeTo != null and timeTo != ''">#{timeTo},</if>
            <if test="autoMatch != null and autoMatch != ''">#{autoMatch},</if>
            <if test="expectedResult != null">#{expectedResult},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lastAlert != null">#{lastAlert},</if>
            <if test="ignoreAlert != null and ignoreAlert != ''">#{ignoreAlert},</if>
         </trim>
    </insert>

    <update id="updateMoniElastic" parameterType="MoniElastic">
        update moni_elastic
        <trim prefix="SET" suffixOverrides=",">
            <if test="asid != null and asid != ''">ASID = #{asid},</if>
            <if test="ticketNumber != null">TICKET_NUMBER = #{ticketNumber},</if>
            <if test="enName != null and enName != ''">EN_NAME = #{enName},</if>
            <if test="chName != null and chName != ''">CH_NAME = #{chName},</if>
            <if test="status != null and status != ''">STATUS = #{status},</if>
            <if test="platform != null and platform != ''">PLATFORM = #{platform},</if>
            <if test="cronExpression != null and cronExpression != ''">CRON_EXPRESSION = #{cronExpression},</if>
            <if test="telegramAlert != null and telegramAlert != ''">TELEGRAM_ALERT = #{telegramAlert},</if>
            <if test="telegramInfo != null">TELEGRAM_INFO = #{telegramInfo},</if>
            <if test="telegramConfig != null and telegramConfig != ''">TELEGRAM_CONFIG = #{telegramConfig},</if>
            <if test="requester != null and requester != ''">REQUESTER = #{requester},</if>
            <if test="priority != null and priority != ''">PRIORITY = #{priority},</if>
            <if test="actionItem != null and actionItem != ''">ACTION_ITEM = #{actionItem},</if>
            <if test="descr != null">DESCR = #{descr},</if>
            <if test="index != null and index != ''">`INDEX` = #{index},</if>
            <if test="query != null and query != ''">QUERY = #{query},</if>
            <if test="timeFrom != null and timeFrom != ''">TIME_FROM = #{timeFrom},</if>
            <if test="timeTo != null and timeTo != ''">TIME_TO = #{timeTo},</if>
            <if test="autoMatch != null and autoMatch != ''">AUTO_MATCH = #{autoMatch},</if>
            <if test="expectedResult != null">EXPECTED_RESULT = #{expectedResult},</if>
            <if test="createBy != null and createBy != ''">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="lastAlert != null">LAST_ALERT = #{lastAlert},</if>
            <if test="ignoreAlert != null and ignoreAlert != ''">IGNORE_ALERT = #{ignoreAlert},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMoniElasticById" parameterType="Long">
        delete from moni_elastic where ID = #{id}
    </delete>

    <delete id="deleteMoniElasticByIds" parameterType="String">
        delete from moni_elastic where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateMoniElasticLastAlertTime" parameterType="MoniElastic">
        update moni_elastic
        <trim prefix="SET" suffixOverrides=",">
            <if test="lastAlert != null">LAST_ALERT = #{lastAlert},</if>
        </trim>
        where ID = #{id}
    </update>

    <select id="selectMoniElasticAll" resultMap="MoniElasticResult">
        <include refid="selectMoniElasticVo"/>
    </select>

</mapper>