<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.quartz.mapper.MoniApiLogMapper">
    
    <resultMap type="MoniApiLog" id="MoniApiLogResult">
        <result property="id"    column="ID"    />
        <result property="apiId"    column="API_ID"    />
        <result property="startTime"    column="START_TIME"    />
        <result property="endTime"    column="END_TIME"    />
        <result property="expectedCode"    column="EXPECTED_CODE"    />
        <result property="executeResult"    column="EXECUTE_RESULT"    />
        <result property="exceptionLog"    column="EXCEPTION_LOG"    />
        <result property="executeTime"    column="EXECUTE_TIME"    />
        <result property="status"    column="STATUS"    />
        <result property="alertStatus"    column="ALERT_STATUS"    />
        <result property="operator"    column="OPERATOR"    />
        <collection  property="moniApi"   javaType="MoniApi"   resultMap="moniApiResult" />
    </resultMap>

    <resultMap type="MoniApi" id="moniApiResult">
        <result property="enName"    column="EN_NAME"    />
        <result property="chName"    column="CH_NAME"    />
        <result property="platform"    column="PLATFORM"    />
        <result property="priority"    column="PRIORITY"    />
    </resultMap>

    <sql id="selectMoniApiLogVo">
        select MAL.ID, MAL.API_ID, MAL.START_TIME, MAL.END_TIME, MAL.EXPECTED_CODE, MAL.EXECUTE_RESULT, MAL.EXCEPTION_LOG, MAL.EXECUTE_TIME, MAL.STATUS, MAL.ALERT_STATUS, MAL.OPERATOR,
        MA.EN_NAME, MA.CH_NAME, MA.PLATFORM, MA.PRIORITY
        from moni_api_log MAL
        left join moni_api MA on MAL.API_ID = MA.ID
    </sql>

    <select id="selectMoniApiLogList" parameterType="MoniApiLog" resultMap="MoniApiLogResult">
        <include refid="selectMoniApiLogVo"/>
        <where>
            <if test="params.jobName != null "> and (MA.CH_NAME like concat('%', #{params.jobName}, '%') or MA.EN_NAME like concat('%', #{params.jobName}, '%'))</if>
            <if test="apiId != null "> and MAL.API_ID = #{apiId}</if>
            <if test="params.priority != null and params.priority != ''"> and MA.PRIORITY = #{params.priority}</if>
            <if test="params.platform != null and params.platform != ''"> and MA.PLATFORM = #{params.platform}</if>
            <if test="params.beginStartTime != null and params.beginStartTime != ''"><!-- 开始时间检索 -->
                AND date_format(MAL.START_TIME,'%y%m%d') &gt;= date_format(#{params.beginStartTime},'%y%m%d')
            </if>
            <if test="params.endStartTime != null and params.endStartTime != ''"><!-- 结束时间检索 -->
                AND date_format(MAL.START_TIME,'%y%m%d') &lt;= date_format(#{params.endStartTime},'%y%m%d')
            </if>
            <if test="status != null  and status != ''"> and MAL.STATUS = #{status}</if>
        </where>
    </select>
    
    <select id="selectMoniApiLogById" parameterType="Long" resultMap="MoniApiLogResult">
        <include refid="selectMoniApiLogVo"/>
        where MAL.ID = #{id}
    </select>

    <update id="cleanApiJobLog">
            truncate table moni_api_log
    </update>

    <select id="selectMoniApiLogListNoSuccess" resultMap="MoniApiLogResult">
        <include refid="selectMoniApiLogVo"/>
        where MAL.STATUS != '0' and MAL.START_TIME &gt;= DATE_SUB(NOW(),INTERVAL 1 HOUR) and OPERATOR = 'system'
    </select>
        
    <insert id="insertMoniApiLog" parameterType="MoniApiLog" useGeneratedKeys="true" keyProperty="id">
        insert into moni_api_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiId != null">API_ID,</if>
            <if test="startTime != null">START_TIME,</if>
            <if test="endTime != null">END_TIME,</if>
            <if test="expectedCode != null">EXPECTED_CODE,</if>
            <if test="executeResult != null">EXECUTE_RESULT,</if>
            <if test="exceptionLog != null">EXCEPTION_LOG,</if>
            <if test="executeTime != null">EXECUTE_TIME,</if>
            <if test="status != null">STATUS,</if>
            <if test="alertStatus != null">ALERT_STATUS,</if>
            <if test="operator != null">OPERATOR,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiId != null">#{apiId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="expectedCode != null">#{expectedCode},</if>
            <if test="executeResult != null">#{executeResult},</if>
            <if test="exceptionLog != null">#{exceptionLog},</if>
            <if test="executeTime != null">#{executeTime},</if>
            <if test="status != null">#{status},</if>
            <if test="alertStatus != null">#{alertStatus},</if>
            <if test="operator != null">#{operator},</if>
         </trim>
    </insert>

    <update id="updateMoniApiLog" parameterType="MoniApiLog">
        update moni_api_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="apiId != null">API_ID = #{apiId},</if>
            <if test="startTime != null">START_TIME = #{startTime},</if>
            <if test="endTime != null">END_TIME = #{endTime},</if>
            <if test="expectedCode != null">EXPECTED_CODE = #{expectedCode},</if>
            <if test="executeResult != null">EXECUTE_RESULT = #{executeResult},</if>
            <if test="exceptionLog != null">EXCEPTION_LOG = #{exceptionLog},</if>
            <if test="executeTime != null">EXECUTE_TIME = #{executeTime},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="alertStatus != null">ALERT_STATUS = #{alertStatus},</if>
            <if test="operator != null">OPERATOR = #{operator},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteMoniApiLogById" parameterType="Long">
        delete from moni_api_log where ID = #{id}
    </delete>

    <delete id="deleteMoniApiLogByIds" parameterType="String">
        delete from moni_api_log where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="callbackMoniApiLog" parameterType="MoniApiLog">
        update moni_api_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertStatus != null">ALERT_STATUS = #{alertStatus},</if>
            <if test="operator != null">OPERATOR = #{operator},</if>
        </trim>
        where ID = #{id}
    </update>

</mapper>