<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('PF1订单查询列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="form-pf2-order" class="form-horizontal">
                <h4 class="form-header h4">[[#{pf2.order.query}]]</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">[[#{pf2.order.number}]]：</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="orderNo"/>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="tableSearch()">
                                    <i class="fa fa-search"></i> [[#{db.query.query}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table-content"></table>
        </div>
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table-detail"></table>
        </div>
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table-info"></table>
        </div>
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table-agent"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-table-export-js" />
<script th:src="@{/js/shortcut.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var t_types = [[${@dict.getType('pf2_transaction_type')}]];
    var prefix = ctx + "order/pf2";

    function initContentTable(){
        var options = {
            url: prefix + "/listContent",
            id:'bootstrap-table-content',
            firstLoad:false,
            showExport: true,
            pagination: false,
            striped: true,
            headerStyle: headerStyle,
            modalName: i18n('pf2.order.query'),
            columns: [
                [{
                    title : i18n('pf2.order.content'),
                    align : 'center',
                    field: '',
                    colspan : 3
                }
                ],
                [{
                    field: 'columnName',
                    title: i18n('pf2.order.field.name'),
                    halign: 'center'
                },
                    {
                        field: 'dbValue',
                        title: i18n('pf2.order.db.value'),
                        halign: 'center'
                    },
                    {
                        field: 'rdcValue',
                        title: i18n('pf2.order.rdc.value'),
                        halign: 'center'
                    }
                ]
            ]
        };
        $.table.init(options);
    }

    function initDetailTable(){
        var options = {
            url: prefix + "/listDetail",
            id:'bootstrap-table-detail',
            firstLoad:false,
            showExport: true,
            pagination: false,
            striped: true,
            headerStyle: headerStyle,
            modalName: i18n('pf2.order.query'),
            columns: [
                [{
                    title : i18n('pf2.order.detail'),
                    align : 'center',
                    field: '',
                    colspan : 2
                }
                ],
                [{
                    field: 'columnName',
                    title: i18n('pf2.order.field.name'),
                    halign: 'center'
                },
                    {
                        field: 'dbValue',
                        title: i18n('pf2.order.db.value'),
                        halign: 'center'
                    }
                ]
            ]
        };
        $.table.init(options);
    }
    function initInfoTable(){
        var options = {
            url: prefix + "/listInfo",
            id:'bootstrap-table-info',
            firstLoad:false,
            showExport: true,
            pagination: false,
            striped: true,
            headerStyle: headerStyle,
            modalName: i18n('pf2.order.query'),
            columns: [
                [{
                    title : i18n('pf2.order.info'),
                    align : 'center',
                    field: '',
                    colspan : 3
                }
                ],
                [{
                    field: 'betContent',
                    title: i18n('pf2.order.bet.content'),
                    halign: 'center'
                },
                    {
                        field: 'playId',
                        title: i18n('pf2.order.play.id'),
                        halign: 'center'
                    },
                    {
                        field: 'playName',
                        title: i18n('pf2.order.play.name'),
                        halign: 'center'
                    }
                ]
            ]
        };
        $.table.init(options);
    }

    function initAgentTable(){
        var options = {
            url: prefix + "/listAgent",
            id:'bootstrap-table-agent',
            firstLoad:false,
            showExport: true,
            pagination: false,
            striped: true,
            headerStyle: headerStyle,
            modalName: i18n('pf2.order.query'),
            columns: [
                [{
                    title : i18n('pf2.order.agent'),
                    align : 'center',
                    field: '',
                    colspan : 6
                }
                ],
                [{
                    field: 'account',
                    title: i18n('pf2.order.account'),
                    halign: 'center'
                },
                    {
                        field: 'accountLevel',
                        title: i18n('pf2.order.level'),
                        halign: 'center'
                    },
                    {
                        field: 'series',
                        title: i18n('pf2.order.series'),
                        halign: 'center'
                    },
                    {
                        field: 'rebate',
                        title: i18n('pf2.order.rebate'),
                        halign: 'center'
                    },
                    {
                        field: 'transactionType',
                        title: i18n('pf2.order.transaction.type'),
                        halign: 'center',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(t_types, value) + '(' + value + ')';
                        }
                    },
                    {
                        field: 'amount',
                        title: i18n('pf2.order.amount'),
                        halign: 'center'
                    }
                ]
            ]
        };
        $.table.init(options);
    }


    $("#form-pf2-order").validate({
        onkeyup: false,
        rules:{
            orderNo:{
                required:true,
                isOrder:true
            },
        },
        focusCleanup: true
    });
    // 搜索
    function tableSearch(){
        if ($.validate.form()){
            if(!table.get('bootstrap-table-content')
                || !table.get('bootstrap-table-detail')
                || !table.get('bootstrap-table-info')
                || !table.get('bootstrap-table-agent')){
                initContentTable();
                initDetailTable();
                initInfoTable();
                initAgentTable();
                refreshTable();
            } else {
                refreshTable();
            }
        }
    }
    // 刷新表格
    function refreshTable() {
        $("#" + table.config['bootstrap-table-content'].id).bootstrapTable('refreshOptions',table.config['bootstrap-table-content']);
        $("#" + table.config['bootstrap-table-detail'].id).bootstrapTable('refreshOptions',table.config['bootstrap-table-detail']);
        $("#" + table.config['bootstrap-table-info'].id).bootstrapTable('refreshOptions',table.config['bootstrap-table-info']);
        $("#" + table.config['bootstrap-table-agent'].id).bootstrapTable('refreshOptions',table.config['bootstrap-table-agent']);
    }

    function headerStyle(column) {
        return {
            '': {
                css: { background: '#3c8dbc','font-size': '22px',color:'white','font-weight': 'bolder' }
            },
            columnName:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            dbValue:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            rdcValue:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            betContent:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            playId:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            playName:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            account:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            accountLevel:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            series:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            rebate:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            transactionType:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
            amount:{
                css: { background: '#3c8dbc','font-size': '17px',color:'white','font-weight': 'bold' }
            },
        }[column.field]
    }

    //快捷键
    shortcut.add("enter",function() {
        tableSearch();
    }, {
        'type':'keydown', //事件
        'propagate':false, //是否支持冒泡
        'disable_in_input':false, //是否在输入框内有效
        'target':document, //作用范围
    });
</script>
</body>
</html>