<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('在线用户列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form autocomplete="off" id="online-form">
					<div class="select-list">
						<ul>
							<li>
								[[#{login.address}]]：<input type="text" name="ipaddr"/>
							</li>
							<li>
								[[#{login.name}]]：<input type="text" name="loginName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;[[#{common.query}]]</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-danger multiple disabled" onclick="javascript:batchForceLogout()" shiro:hasPermission="monitor:online:batchForceLogout">
	                <i class="fa fa-sign-out"></i> [[#{common.kick.out}]]
	            </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-table-export-js" />
	<script th:inline="javascript">
		var forceFlag = [[${@permission.hasPermi('monitor:online:forceLogout')}]];
		var prefix = ctx + "monitor/online";

		$(function() {
		    var options = {
		    	uniqueId: "sessionId",
		        url: prefix + "/list",
		        exportUrl: prefix + "/export",
		        sortName: "lastAccessTime",
		        sortOrder: "desc",
		        showExport: true,
		        escape: true,
		        columns: [{
		            checkbox: true
		        },
		        {
                    title: i18n('online.sort'),
                    formatter: function (value, row, index) {
                 	    return $.table.serialNumber(index);
                    }
                },
		        {
		            field: 'sessionId',
		            title: i18n('online.session.id'),
		            formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                    }
		        },
		        {
		            field: 'loginName',
		            title: i18n('login.name'),
		            sortable: true
		        },
		        {
		            field: 'deptName',
		            title: i18n('operation.dept.name')
		        },
		        {
		            field: 'ipaddr',
		            title: i18n('login.address')
		        },
		        {
		            field: 'loginLocation',
		            title: i18n('login.location')
		        },
		        {
		            field: 'browser',
		            title: i18n('login.browser')
		        },
		        {
		            field: 'os',
		            title: i18n('login.os')
		        },
		        {
		            field: 'status',
		            title: i18n('online.session.status'),
		            align: 'center',
		            formatter: function(value, row, index) {
		                if (value == 'on_line') {
		                    return '<span class="badge badge-primary">'+ i18n('online.online') +'</span>';
		                } else if (value == 'off_line') {
		                    return '<span class="badge badge-danger">'+ i18n('online.offline') +'</span>';
		                }
		            }
		        },
		        {
		            field: 'startTimestamp',
		            title: i18n('login.time'),
		            sortable: true
		        },
		        {
		            field: 'lastAccessTime',
		            title: i18n('online.last.access'),
		            sortable: true
		        },
		        {
		            title: i18n('operation.operating'),
		            align: 'center',
		            formatter: function(value, row, index) {
		                var msg = '<a class="btn btn-danger btn-xs ' + forceFlag + '" href="javascript:void(0)" onclick="forceLogout(\'' + row.sessionId + '\')"><i class="fa fa-sign-out"></i>'+ i18n('common.kick.out') +'</a> ';
		                return msg;
		            }
		        }]
		    };
		    $.table.init(options);
		});

		// 单条强退
		function forceLogout(sessionId) {
		    $.modal.confirm(i18n('online.sure.kick.out'), function() {
		    	var data = { "ids": sessionId };
		        $.operate.post(prefix + "/batchForceLogout", data);
		    })
		}

		// 批量强退
		function batchForceLogout() {
		    var rows = $.table.selectColumns("sessionId");
		    if (rows.length == 0) {
		        $.modal.alertWarning(i18n('online.select.kick.out'));
		        return;
		    }
		    $.modal.confirm(i18n('online.select.sure') + ' ' + rows.length + '' + i18n('online.select.data'), function() {
		        var url = prefix + "/batchForceLogout";
		        var data = { "ids": rows.join() };
		        $.operate.post(url, data);
		    });
		}
	</script>
</body>
</html>