<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('通知公告列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form autocomplete="off" id="notice-form">
					<div class="select-list">
						<ul>
							<li>
								[[#{notice.title}]]：<input type="text" name="noticeTitle"/>
							</li>
							<li>
								[[#{notice.operator}]]：<input type="text" name="createBy"/>
							</li>
							<li>
								[[#{notice.type}]]：<select name="noticeType" th:with="type=${@dict.getType('sys_notice_type')}">
									<option value="">[[#{user.list.all}]]</option>
									<option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;[[#{common.query}]]</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="system:notice:add">
		            <i class="fa fa-plus"></i> [[#{common.add}]]
		        </a>
		        <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="system:notice:edit">
		            <i class="fa fa-edit"></i> [[#{common.modify}]]
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:notice:remove">
		            <i class="fa fa-remove"></i> [[#{common.delete}]]
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:notice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:notice:remove')}]];
        var types = [[${@dict.getType('sys_notice_type')}]];
        var datas = [[${@dict.getType('sys_notice_status')}]];
        var prefix = ctx + "system/notice";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: i18n('notice.notice'),
                columns: [{
		            checkbox: true
		        },
				{
					field : 'noticeId', 
					title : i18n('notice.sort')
				},
				{
					field : 'noticeTitle', 
					title : i18n('notice.title')
				},
				{
		            field: 'noticeType',
		            title: i18n('notice.type'),
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(types, value);
		            }
		        },
				{
		            field: 'status',
		            title: i18n('notice.status'),
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
				{
					field : 'createBy', 
					title : i18n('notice.creator')
				},
				{
		            field: 'createTime',
		            title: i18n('common.create.time'),
		            sortable: true
		        },
		        {
		            title: i18n('notice.operating'),
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.noticeId + '\')"><i class="fa fa-edit"></i>' + i18n('common.edit') + '</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.noticeId + '\')"><i class="fa fa-remove"></i>' + i18n('common.delete') + '</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>