<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('AS sql查询')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form autocomplete="off" id="form-as-query" class="form-horizontal">
					<h4 class="form-header h4">[[#{db.query.as}]]</h4>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<textarea name="script" class="form-control" rows="10" required></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-4 control-label">[[#{db.query.data.source}]]：</label>
									<div class="col-sm-2">
										<select name="datasource" class="form-control m-b" th:with="type=${@dict.getType('as_data_base_source')}">
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"  th:selected="${dict.isDefault == 'Y'} ? true : false"></option>
										</select>
									</div>
									<div class="col-sm-6">
										<a class="btn btn-primary btn-rounded btn-sm" onclick="tableSearch()">
											<i class="fa fa-search"></i> [[#{db.query.query}]]
										</a>
									</div>
								</div>
							</div>
						</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group" style="display: none">
				<span id="execute-time" class="label label-warning">[[#{funds.total}]]：<span class="total"></span>，[[#{sql.job.execution.time}]]：<span class="time"></span></span>
			</div>
			<div class="col-sm-12 select-table table-bordered">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>

	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-table-export-js" />
	<script th:src="@{/js/shortcut.js}"></script>
	<script type="text/javascript">
		var prefix = ctx + "query/db";
		var tempScript;

		var beforeTime;

		// 动态获取列
		function ajaxColumns() {
			var url = prefix + "/ajaxColumns";
			var dataParam = $.common.formToJSON("form-as-query")
			var selectedScript = window.getSelection().toString();
			if (selectedScript){
				dataParam['script'] = selectedScript;
			}
			tempScript = dataParam['script']
			$.modal.loading(i18n('common.query.loading'));
			$.post(url, dataParam, function(result) {
				if (result.code == web_status.SUCCESS) {
					setColumns(result.data);
				} else if (result.code == web_status.WARNING) {
					$.modal.alertWarning(result.msg)
				} else {
					$.modal.alertError(result.msg);
				}
				$.modal.closeLoading();
			});
		}
		// 设置列
		function setColumns(list) {
			var columns = [];
			list.forEach(function(item) {
				var itemTmp = item.toString().toUpperCase()
				if($.common.endWith(itemTmp,'DATE') || $.common.endWith(itemTmp,'TIME')){
					columns.push({
						field : item,
						title : item,
						halign: 'center',
						cellStyle: {
							css:{"white-space":"nowrap"}
						}
					})
				} else {
					columns.push({
						field : item,
						title : item,
						halign: 'center'
					})
				}
			});
			if(!table.get(table.options.id)){
				initTable(columns);
				// refreshTable(columns);
			} else {
				refreshTable(columns);
			}
			beforeTime = new Date().getTime().toString()
			$('#toolbar').hide()
		}
		// 刷新表格
		function refreshTable(columns) {
			var options = {
				columns: columns
			};
			$("#" + table.options.id).bootstrapTable('refreshOptions',options);
		}
		// 初始化表格
		function initTable(columns){
			var options = {
				url: prefix + "/query",
				queryParams: function (params) {
					var curParams = {
						// 传递参数查询参数
						pageSize:       params.limit,
						pageNum:        params.offset / params.limit + 1,
						searchValue:    params.search,
						orderByColumn:  params.sort,
						isAsc:          params.order
					};
					var dataParam = $.common.formToJSON("form-as-query")

					if (tempScript){
						dataParam['script'] = tempScript;
					}
					if (beforeTime === 0) {
						beforeTime = new Date().getTime().toString()
					}
					return $.extend(curParams, dataParam);
				},
				firstLoad: true,
				showExport: true,
				striped: true,
				showRefresh : false,
				showToggle: false,
				pageSize: 200,
				pageNumber: 1,
				pageList: [200, 500, 1000,'all'],
				// sidePagination: "client",
				modalName: 'AS DB Query',
				height: getTableHeight(),
				headerStyle: headerStyle,
				onLoadSuccess: onLoadSuccess,
				columns: columns
			};
			$.table.init(options);
		}
		// 搜索
		function tableSearch(){
			if ($.validate.form()){
				ajaxColumns();
			}
		}

		function onLoadSuccess(data){
			var afterTime = new Date().getTime().toString()
			executeTime = (parseFloat(afterTime) - parseFloat(beforeTime)) / 1000.0
			$('#execute-time .total').text(data.total)
			$('#execute-time .time').text(executeTime.toFixed(3) + 's')
			$('#toolbar').show()
			beforeTime = 0
		}

		function headerStyle(column) {
			return {
				css: { background: '#3c8dbc','font-size': '13px',color:'white','font-weight': 'bolder' }
			}
		}

		function getTableHeight() {
			return  $(window).height();
		}

		//快捷键
		shortcut.add("Ctrl+enter",function() {
			tableSearch();
		}, {
			'type':'keydown', //事件
			'propagate':false, //是否支持冒泡
			'disable_in_input':false, //是否在输入框内有效
			'target':document, //作用范围
		});

	</script>
</body>
</html>