<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.order.mapper.PF2OrderNumberMapper">
    
    <resultMap type="PF2OrderNumber" id="PF2OrderNumberResult">
        <result property="orderNo"    column="order_num"/>
        <result property="createTime"    column="create_time"/>
        <result property="clientIp"    column="client_ip"/>
        <result property="betMode"    column="bet_mode"/>
        <result property="series"    column="series_name"/>
        <result property="code"    column="code"/>
        <result property="numero"    column="numero"/>
        <result property="totalChasePhases"    column="total_chase_phases"/>
        <result property="winningStop"    column="WINNING_STOP"/>
        <result property="abandoning"    column="ABANDONING"/>
        <result property="multiple"    column="MULTIPLE"/>
    </resultMap>
    
    <select id="selectPF2OrderNumberDB" parameterType="String" resultMap="PF2OrderNumberResult">
         select
         A.order_num ,
         TO_CHAR(A.create_time,'YYYY-MM-DD HH24:MI:SS') create_time,
         max( A.client_ip ) client_ip,
         max( A.bet_mode ) bet_mode,
         max( A.series_name ) series_name,
         max( B.code ) code,
         max( A.numero ) numero,
         max( A.total_chase_phases ) total_chase_phases,
         max( A.WINNING_STOP ) WINNING_STOP,
         max( A.ABANDONING) ABANDONING,
         listagg( C.MULTIPLE, ';' ) WITHIN GROUP (ORDER BY C.DETAIL_ORDER) as MULTIPLE
         from core.lgs_order_master A
         left join core.lgs_game B on A.game_id = B.game_id
         left join core.lgs_order_detail C on A.order_master_id = C.order_master_id
         where A.order_num = #{orderNo} group by A.order_num, TO_CHAR(A.create_time,'YYYY-MM-DD HH24:MI:SS')
    </select>

    <select id="selectPF2OrderNumberRDC" parameterType="String" resultMap="PF2OrderNumberResult">
         select
         A.order_num ,
         TO_CHAR(A.create_time,'YYYY-MM-DD HH24:MI:SS') create_time,
         max( A.client_ip ) client_ip,
         max( A.bet_mode ) bet_mode,
         max( A.series_name ) series_name,
         max( B.code ) code,
         max( A.numero ) numero,
         max( A.total_chase_phases ) total_chase_phases,
         max( A.WINNING_STOP ) WINNING_STOP,
         max( A.ABANDONING) ABANDONING,
         listagg( C.MULTIPLE, ';' ) WITHIN GROUP (ORDER BY C.DETAIL_ORDER) as MULTIPLE
         from rdc.lgs_order_master A
         left join core.lgs_game B on A.game_id = B.game_id
         left join rdc.lgs_order_detail C on A.order_master_id = C.order_master_id
         where A.order_num = #{orderNo} group by A.order_num, TO_CHAR(A.create_time,'YYYY-MM-DD HH24:MI:SS')
    </select>

    <resultMap type="PF2OrderNumberDetail" id="PF2OrderNumberDetailResult">
        <result property="multiple"    column="multiple"/>
        <result property="betAmount"    column="betAmount"/>
        <result property="winningNumber"    column="winningNumber"/>
        <result property="winAmount"    column="winAmount"/>
    </resultMap>

    <select id="selectPF2OrderNumberDetail" parameterType="String" resultMap="PF2OrderNumberDetailResult">
         select
         listagg( nvl(B.MULTIPLE,0), ';' ) WITHIN GROUP (ORDER BY B.DETAIL_ORDER) as multiple ,
         listagg( to_char(nvl(B.ACTUAL_BET_AMOUNT,0),'fm999999999999990.0000'), ';' ) WITHIN GROUP (ORDER BY B.DETAIL_ORDER) as betAmount ,
         listagg( nvl(C.WINNING_NUMBER,'null'), ';' ) WITHIN GROUP (ORDER BY C.NUMERO) as winningNumber ,
         listagg( to_char(nvl(B.WIN_AMOUNT,0),'fm999999999999990.0000'), ';' ) WITHIN GROUP (ORDER BY B.DETAIL_ORDER) as winAmount
         from core.lgs_order_master A
         left join core.lgs_order_detail B on A.order_master_id = B.order_master_id
         left join core.LGS_DRAW_NUMBER_RESULT C on B.GAME_CODE = C.GAME_CODE and B.NUMERO = C.NUMERO
         where A.order_num = #{orderNo}
    </select>

    <select id="selectBetStakeByOrderNum" parameterType="String" resultType="String">
         select
         nvl(sum(BET_NUM),0) AS betStake
         from core.lgs_order_master A
         left join core.lgs_order_info B on A.order_master_id = B.order_master_id
         where A.order_num = #{orderNo}
    </select>

    <resultMap type="PF2OrderNumberInfo" id="PF2OrderNumberInfoResult">
        <result property="playId"    column="playId"/>
        <result property="playCode"    column="playCode"/>
        <result property="playName"    column="playName"/>
        <result property="betContent"    column="betContent"/>
    </resultMap>

    <select id="selectOrderInfoByOrderNum" parameterType="String" resultMap="PF2OrderNumberInfoResult">
         select
         B.PLAY_ID playId,
         C.PLAY_GROUP_CODE playCode,
         C.Play_Name playName,
         nvl(FIRST_, 'null')||','||
         nvl(SECOND_, 'null')||','||
         nvl(THIRD_, 'null')||','||
         nvl(FOURTH_, 'null')||','||
         nvl(FIFTH_, 'null')||','||
         nvl(SIXTH_, 'null')||','||
         nvl(SEVENTH_, 'null')||','||
         nvl(EIGHTH_, 'null')||','||
         nvl(NINTH_, 'null')||','||
         nvl(TENTH_, 'null') as betContent
         from core.lgs_order_master A
         left join  core.LGS_ORDER_INFO B on A.order_master_id = B.order_master_id
         left join core.lgs_play_menu C on B.Play_Id = C.Play_Id
         where A.order_num = #{orderNo} order by B.ORDER_INFO_ID
    </select>

    <resultMap type="PF2AccountInfo" id="PF2OAccountInfoResult">
        <result property="account"    column="customerName"/>
        <result property="orderNum"    column="orderNum"/>
        <result property="numero"    column="numero"/>
        <result property="transactionType"    column="txTypeId"/>
        <result property="series"    column="name"/>
        <result property="amount"    column="amount"/>
        <result property="rebate"    column="levelRetValue"/>
        <result property="accountLevel"    column="agentLevel"/>
    </resultMap>

    <select id="selectAccountInfoByOrderNum"  parameterType="String" resultMap="PF2OAccountInfoResult">
         select
         E.customer_name customerName,
         A.order_num orderNum,
         B.numero numero,
         C.TX_TYPE_ID txTypeId,
         C.AMOUNT amount,
         G.NAME name,
         H.LEVEL_RET_VALUE levelRetValue,
         nvl( REGEXP_COUNT( I.LEVEL_ID , '^|_' , 1 )  , 0 ) +1 as agentLevel
         from core.lgs_order_master A
         left join core.lgs_order_detail B on A.order_master_id = B.order_master_id
         left join core.acs_transaction C on C.TX_TYPE_ID in ( 1100, 1 )
         and C.ORDER_NO = A.order_num
         and C.numero = B.numero
         left join core.acs_account D on C.account_id = D.account_id
         left join core.us_customer_vw E on D.customer_id = E.customer_id
         left join core.CP_CUSTOMER_SERIES F on E.customer_id = F.customer_id and B.game_code = F.game_code
         left join core.LGS_GAME_SERIES G on F.GAME_SERIES_ID  = G.GAME_SERIES_ID
         left join core.LGS_GAME_RET_LEVEL H on H.GAME_RET_LEVEL_ID = F.GAME_RET_LEVEL_ID
         left join core.us_customer_profile_vw  I on E.customer_id = I.customer_id
         where A.order_num = #{orderNo} and A.SERIES = G.VALUE
    </select>

</mapper>