<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.funds.mapper.PF2SourceOfFundsMapper">

    <resultMap type="PF2SourceOfFunds" id="PF2SourceOfFundsResult">
        <result column="customer_name"    property="account"/>
        <result column="platform"    property="platform"/>
        <result column="biz_date"    property="bizDate"/>
        <result column="sum_opening"    property="sumOpening"/>
        <result column="sum_closing"    property="sumClosing"/>
        <result column="sum_bet"    property="sumBet"/>
        <result column="sum_cg_bet"    property="sumCgBet"/>
        <result column="sum_win"    property="sumWin"/>
        <result column="sum_cg_win"    property="sumCgWin"/>
        <result column="sum_deposit"    property="sumDeposit"/>
        <result column="sum_withdraw"    property="sumWithdraw"/>
        <result column="sum_ret_bet"    property="sumRetBet"/>
        <result column="promo_active"    property="promoActive"/>
        <result column="adj_credit"    property="adjCredit"/>
        <result column="sum_tran_in"    property="sumTranIn"/>
        <result column="sum_tran_out"    property="sumTranOut"/>
        <result column="sum_ret_agent"    property="sumRetAgent"/>
        <result column="sum_agent_transfer_in"    property="sumAgentTransferIn"/>
        <result column="sum_agent_transfer_out"    property="sumAgentTransferOut"/>
    </resultMap>

    <sql id="selectPF2SourceOfFundsVo">
        select
        '5.0' as platform,
        A.CUSTOMER_NAME as customer_name,
        A.BIZ_DATE as biz_date,
        B.OPENING as sum_opening,
        B.CLOSING as sum_closing,
        A.SUM_BET_LOTT as sum_bet,
        A.SUM_BET_CASU + A.SUM_BET_CARD + A.SUM_BET_FMC + A.SUM_BET_AG + A.SUM_BET_SPORTS as sum_cg_bet,
        A.SUM_WIN_LOTT as sum_win,
        A.SUM_WIN_CASU + A.SUM_WIN_CARD + A.SUM_WIN_FMC + A.SUM_WIN_AG + A.SUM_WIN_SPORTS as sum_cg_win,
        A.SUM_DEPOSIT as sum_deposit,
        A.SUM_WITHDRAW as sum_withdraw,
        A.SUM_RET_BET_LOTT + A.SUM_RET_BET_CASU + A.SUM_RET_BET_CARD + A.SUM_RET_BET_FMC + A.SUM_RET_BET_AG + A.SUM_RET_BET_SPORTS as sum_ret_bet,
        A.SUM_RET_AGENT_LOTT + A.SUM_RET_AGENT_CASU + A.SUM_RET_AGENT_CARD + A.SUM_RET_AGENT_FMC + A.SUM_RET_AGENT_AG + A.SUM_RET_AGENT_SPORTS as sum_ret_agent,
        A.SUM_REWARD as promo_active,
        A.LOTT_TO_CASU + A.LOTT_TO_CARD + A.LOTT_TO_FMC + A.LOTT_TO_AG + A.LOTT_TO_SPORTS as sum_tran_in,
        A.CASU_TO_LOTT + A.CARD_TO_LOTT + A.FMC_TO_LOTT + A.AG_TO_LOTT + A.SPORTS_TO_LOTT as sum_tran_out,
        A.SUM_TOT_ADJ as adj_credit,
        A.SUM_AGENT_TRANIN as sum_agent_transfer_in,
        A.SUM_AGENT_TRANOUT as sum_agent_transfer_out
        from dw.DW_F_CUSTOMER_BALANCE B
        left join dw.DW_R_CUSTOMER_ACTIONDAY A on A.customer_id = B.customer_id and A.BIZ_DATE = B.BIZ_DATE and A.DW_SOURCE = B.DW_SOURCE and B.ACCOUNT_TYPE_ID = '1'
    </sql>

    <select id="getPF2SourceOfFound" parameterType="String" resultMap="PF2SourceOfFundsResult">
        <include refid="selectPF2SourceOfFundsVo"/>
        <where>
            and A.BIZ_DATE > sysdate-360 and A.DW_SOURCE = '2'
            <if test="accounts != null and accounts.length > 0">
                and A.customer_name in
                <foreach collection="accounts" item="account" index="index" open="(" separator="," close=")">
                    #{account}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
                and trunc(A.BIZ_DATE) &gt;= to_date(#{startTime} , 'YYYY-MM-DD')
            </if>
            <if test="startTime == null or startTime == ''"><!-- 开始时间检索 -->
                and trunc(A.BIZ_DATE) &gt;= to_date('2016-01-01' , 'YYYY-MM-DD')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                and trunc(A.BIZ_DATE) &lt;= to_date(#{endTime} , 'YYYY-MM-DD')
            </if>
        </where>
        order by A.BIZ_DATE desc
    </select>

    <resultMap type="PF2SourceOfFundsSummary" id="PF2SourceOfFundsSummaryResult">
        <result column="accounts"    property="account"/>
        <result column="platform"    property="platform"/>
        <result column="sumBet"    property="totalBet"/>
        <result column="sumCgBet"    property="totalCgBet"/>
        <result column="sumWin"    property="totalWin"/>
        <result column="sumCgWin"    property="totalCgWin"/>
        <result column="sumRetBet"    property="totalBetReward"/>
        <result column="adjCredit"    property="totalCredetAdj"/>
        <result column="sumTranIn"    property="totalTransfer3rdIn"/>
        <result column="sumTranOut"    property="totalTransfer3rdOut"/>
    </resultMap>

    <select id="getPF2SourceOfFoundSummary" parameterType="String" resultMap="PF2SourceOfFundsSummaryResult">
        select A.CUSTOMER_NAME as accounts,
        '5.0' as platform,
        sum(A.SUM_BET_LOTT) as sumBet,
        sum(A.SUM_BET_CASU) + sum(A.SUM_BET_CARD) + sum(A.SUM_BET_FMC) + sum(A.SUM_BET_AG) + sum(A.SUM_BET_SPORTS) as sumCgBet,
        sum(A.SUM_WIN_LOTT) as sumWin,
        sum(A.SUM_WIN_CASU) + sum(A.SUM_WIN_CARD) + sum(A.SUM_WIN_FMC) + sum(A.SUM_WIN_AG) + sum(A.SUM_WIN_SPORTS) as sumCgWin,
        sum(A.SUM_RET_BET_LOTT) + sum(A.SUM_RET_BET_CASU) + sum(A.SUM_RET_BET_CARD) + sum(A.SUM_RET_BET_FMC) + sum(A.SUM_RET_BET_AG) + sum(A.SUM_RET_BET_SPORTS) as sumRetBet,
        sum(A.SUM_TOT_ADJ)  as adjCredit,
        sum(A.LOTT_TO_CASU) + sum(A.LOTT_TO_CARD) + sum(A.LOTT_TO_FMC) + sum(A.LOTT_TO_AG) + sum(A.LOTT_TO_SPORTS) as sumTranIn,
        sum(A.CASU_TO_LOTT) + sum(A.CARD_TO_LOTT) + sum(A.FMC_TO_LOTT) + sum(A.AG_TO_LOTT) + sum(A.SPORTS_TO_LOTT) as sumTranOut
        from dw.DW_F_CUSTOMER_BALANCE B
        left join dw.DW_R_CUSTOMER_ACTIONDAY A on A.customer_id = B.customer_id and A.BIZ_DATE = B.BIZ_DATE and A.DW_SOURCE = B.DW_SOURCE and B.ACCOUNT_TYPE_ID = '1'
        <where>
            and A.BIZ_DATE > sysdate-360 and A.DW_SOURCE = '2'
            <if test="accounts != null and accounts.length > 0">
                and A.customer_name in
                <foreach collection="accounts" item="account" index="index" open="(" separator="," close=")">
                    #{account}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
                and trunc(A.BIZ_DATE) &gt;= to_date(#{startTime} , 'YYYY-MM-DD')
            </if>
            <if test="startTime == null or startTime == ''"><!-- 开始时间检索 -->
                and trunc(A.BIZ_DATE) &gt;= to_date('2016-01-01' , 'YYYY-MM-DD')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                and trunc(A.BIZ_DATE) &lt;= to_date(#{endTime} , 'YYYY-MM-DD')
            </if>
        </where>
        group by A.customer_name,'5.0'
    </select>


</mapper>