<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.funds.mapper.PF2SourceOfFundsMapper">

    <resultMap type="PF2SourceOfFunds" id="PF2SourceOfFundsResult">
        <result column="customer_name"    property="account"/>
        <result column="platform"    property="platform"/>
        <result column="biz_date"    property="bizDate"/>
        <result column="sum_opening"    property="sumOpening"/>
        <result column="sum_closing"    property="sumClosing"/>
        <result column="sum_bet"    property="sumBet"/>
        <result column="sum_cg_bet"    property="sumCgBet"/>
        <result column="sum_win"    property="sumWin"/>
        <result column="sum_cg_win"    property="sumCgWin"/>
        <result column="sum_deposit"    property="sumDeposit"/>
        <result column="sum_3rd_pay_deposit"    property="sum3rdPayDeposit"/>
        <result column="sum_withdraw"    property="sumWithdraw"/>
        <result column="sum_ret_bet"    property="sumRetBet"/>
        <result column="promo_active"    property="promoActive"/>
        <result column="promo_adhoc"    property="promoAdhoc"/>
        <result column="sum_pf_tran_in"    property="sumPfTranIn"/>
        <result column="sum_pf_tran_out"    property="sumPfTranOut"/>
        <result column="sum_comp"    property="sumComp"/>
        <result column="adj_credit"    property="adjCredit"/>
        <result column="adj_debit"    property="adjDebit"/>
        <result column="sum_bank_fees"    property="sumBankFees"/>
        <result column="sum_jackpot_win"    property="sumJackpotWin"/>
        <result column="sum_tran_in"    property="sumTranIn"/>
        <result column="sum_tran_out"    property="sumTranOut"/>
        <result column="sum_ret_agent"    property="sumRetAgent"/>
        <result column="sum_agent_transfer_in"    property="sumAgentTransferIn"/>
        <result column="sum_agent_transfer_out"    property="sumAgentTransferOut"/>
    </resultMap>

    <sql id="selectPF2SourceOfFundsVo">
        select
        '5.0' as platform,
        B.customer_name,
        biz_date,
        sum_opening,
        sum_closing,
        sum_bet,
        sum_cg_bet,
        sum_win,
        sum_cg_win,
        sum_deposit,
        sum_3rd_pay_deposit,
        sum_withdraw,
        sum_ret_bet,
        sum_ret_agent,
        promo_active,
        promo_adhoc,
        sum_pf_tran_in,
        sum_pf_tran_out,
        sum_comp,
        adj_credit,
        adj_debit,
        sum_bank_fees,
        sum_jackpot_win,
        sum_tran_in,
        sum_tran_out,
        sum_agent_transfer_in,
        sum_agent_transfer_out
        from ods.ods_liability_sum A
        left join core.us_customer_vw B on A.customer_id = B.customer_id
    </sql>

    <select id="getPF2SourceOfFound" parameterType="String" resultMap="PF2SourceOfFundsResult">
        <include refid="selectPF2SourceOfFundsVo"/>
        <where>
            and BIZ_DATE > sysdate-360 and ODS_SRC_TYPE = 'P2_DB'
            <if test="accounts != null and accounts.length > 0">
                and B.customer_name in
                <foreach collection="accounts" item="account" index="index" open="(" separator="," close=")">
                    #{account}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
                and trunc(biz_date) &gt;= to_date(#{startTime} , 'YYYY-MM-DD')
            </if>
            <if test="startTime == null or startTime == ''"><!-- 开始时间检索 -->
                and trunc(biz_date) &gt;= to_date('2016-01-01' , 'YYYY-MM-DD')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                and trunc(biz_date) &lt;= to_date(#{endTime} , 'YYYY-MM-DD')
            </if>
        </where>
        order by biz_date desc
    </select>

    <resultMap type="PF2SourceOfFundsSummary" id="PF2SourceOfFundsSummaryResult">
        <result column="accounts"    property="account"/>
        <result column="platform"    property="platform"/>
        <result column="sumBet"    property="totalBet"/>
        <result column="sumCgBet"    property="totalCgBet"/>
        <result column="sumWin"    property="totalWin"/>
        <result column="sumCgWin"    property="totalCgWin"/>
        <result column="sumRetBet"    property="totalBetReward"/>
        <result column="sumPfTranIn"    property="totalTransferIn"/>
        <result column="sumPfTranOut"    property="totalTransferOut"/>
        <result column="adjCredit"    property="totalCredetAdj"/>
        <result column="sumTranIn"    property="totalTransfer3rdIn"/>
        <result column="sumTranOut"    property="totalTransfer3rdOut"/>
    </resultMap>

    <select id="getPF2SourceOfFoundSummary" parameterType="String" resultMap="PF2SourceOfFundsSummaryResult">
        select B.customer_name as accounts,
        '5.0' as platform,
        sum(sum_bet) as sumBet,
        sum(sum_cg_bet) as sumCgBet,
        sum(sum_win) as sumWin,
        sum(sum_cg_win) as sumCgWin,
        sum(sum_ret_bet) as sumRetBet,
        sum(sum_pf_tran_in) as sumPfTranIn,
        sum(sum_pf_tran_out) as sumPfTranOut,
        sum(adj_credit)  as adjCredit  ,
        sum(sum_tran_in) as sumTranIn,
        sum(sum_tran_out) as sumTranOut
        from ods.ods_liability_sum A
        left join core.us_customer_vw B on A.customer_id = B.customer_id
        <where>
            and BIZ_DATE > sysdate-360 and ODS_SRC_TYPE = 'P2_DB'
            <if test="accounts != null and accounts.length > 0">
                and B.customer_name in
                <foreach collection="accounts" item="account" index="index" open="(" separator="," close=")">
                    #{account}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
                and trunc(biz_date) &gt;= to_date(#{startTime} , 'YYYY-MM-DD')
            </if>
            <if test="startTime == null or startTime == ''"><!-- 开始时间检索 -->
                and trunc(biz_date) &gt;= to_date('2016-01-01' , 'YYYY-MM-DD')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                and trunc(biz_date) &lt;= to_date(#{endTime} , 'YYYY-MM-DD')
            </if>
        </where>
        group by b.customer_name,'5.0'
    </select>


</mapper>