<!DOCTYPE html>
<html>
<head>
	<style type="text/css">

		.block{
			color: #333;
			background: #E7ECF3;
			border: 1px solid #AAA;
			margin: 5px;
			padding: 13px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}
		h2{
			margin:0px 0px 3px 0px;
		}

		.white-space{
			border:1px solid #333;
			background:#FFFFFF;
			padding:5px;
			margin-bottom:20px;
		}
		table.data_table td,
		table.data_table th{
			white-space: nowrap;
		}

		table {width:100%;}

		table.data_table{
			border-top: 1px solid #202C3D;
		}
		th{text-align: center;padding: 8px;border: 1px solid #202C3D;background: #cdcdcd;
			background: -moz-linear-gradient(top,  #cdcdcd 0%, #b0b0b0 7%, #e4e4e4 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(7%,#b0b0b0), color-stop(100%,#e4e4e4));
			background: -webkit-linear-gradient(top,  #cdcdcd 0%,#b0b0b0 7%,#e4e4e4 100%);
			background: -o-linear-gradient(top,  #cdcdcd 0%,#b0b0b0 7%,#e4e4e4 100%);
			background: -ms-linear-gradient(top,  #cdcdcd 0%,#b0b0b0 7%,#e4e4e4 100%);
			background: linear-gradient(to bottom,  #cdcdcd 0%,#b0b0b0 7%,#e4e4e4 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#e4e4e4',GradientType=0 );}

		td{text-align: left;padding: 8px;height: 18px;border: 1px solid #202C3D;word-break: break-all;}

		th:first-child, .data_table tbody td:first-child{border-left: none;}

		th:last-child, .data_table tbody td:last-child{border-right: none;}

		tr:nth-child(odd){background: #F7F7F7;}

	</style>
</head>
<body class="white-bg">
<div class="block" style="min-height:100%;">
	<h2>Description：</h2>
	<div class="white-space">
		<pre>{descr}</pre>
	</div>
	<h2>Executed Time：</h2>
	<div class="white-space">{startTime}</div>
	<h2>Expected Result：</h2>
	<div class="white-space">
		<pre>{expectedResult}</pre>
	</div>
	<h2>Execution Result：</h2>
	<div class="white-space" style="max-height:320px;margin: 0px 0px 10px 0px;overflow:auto">{executeResult}</div>
</div>
</body>
</html>