<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('自动报表任务LOG列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form autocomplete="off" id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>[[#{sql.job.id}]]：</label>
                                <input type="text" name="exportId"  th:value="${job!=null?job.id:''}"/>
                            </li>
                            <li>
                                <label>[[#{sql.job.name}]]：</label>
                                <input type="text" name="params[jobName]"/>
                            </li>
                            <li>
                                <label>[[#{sql.job.execute.status}]]：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                    <option value="">[[#{user.list.all}]]</option>
                                    <option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>[[#{sql.job.execute.time}]]：</label>
                                <input type="text" class="time-input" id="startTime" th:placeholder="#{common.start.time}" name="params[beginStartTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" th:placeholder="#{common.end.time}" name="params[endStartTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;[[#{common.query}]]</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:exportJobLog:remove">
                    <i class="fa fa-remove"></i> [[#{common.delete}]]
                </a>
                <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:exportJobLog:clear">
                    <i class="fa fa-remove"></i> [[#{common.clear}]]
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:exportJobLog:export">
                    <i class="fa fa-download"></i> [[#{common.export}]]
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var statusDatas = [[${@dict.getType('sys_common_status')}]];
        var prefix = ctx + "monitor/exportJobLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                cleanUrl: prefix + "/clean",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                sortName: "startTime",
                sortOrder: "desc",
                modalName: i18n('export.job.log'),
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'startTime',
                    title: i18n('sql.job.sql.log.date'),
                    formatter:function (value, row, index){
                        return $.common.dateFormat(value,'yyyy-MM-dd')
                    }
                },
                {
                    field: 'exportId',
                    title: i18n('sql.job.id'),
                    sortable: true
                },
                {
                    field: 'moniExport.chName',
                    title: i18n('sql.job.name_zh'),
                    visible: i18n('locale') !== 'en-US'
                },
                {
                    field: 'moniExport.enName',
                    title: i18n('sql.job.name_en'),
                    visible: i18n('locale') === 'en-US'
                },
                {
                    field: 'startTime',
                    title: i18n('common.start.time'),
                    formatter:function (value, row, index){
                        return $.common.dateFormat(value,'HH:mm:ss')
                    },
                    sortable: true
                },
                {
                    field: 'endTime',
                    title: i18n('common.end.time'),
                    formatter:function (value, row, index){
                        return $.common.dateFormat(value,'HH:mm:ss')
                    },
                    sortable: true
                },
                {
                    field: 'executeTime',
                    title: i18n('sql.job.execution.time'),
                    sortable: true
                },
                {
                    field: 'operator',
                    title: i18n('sql.job.log.operator')
                },
                {
                    field: 'fileName',
                    title: i18n('export.job.file.name'),
                    formatter:function (value, row, index) {
                        if(value){
                            var actions = [];
                            actions.push('<a href="' + prefix + '/download/' + value + '" class="btn btn-success btn-xs">' + value + '</a> ');
                            return actions.join('');
                        }
                    }
                },
                {
                    field: 'status',
                    title: i18n('sql.job.execute.status'),
                    formatter: function(value, row, index) {
                        var status = $.table.selectDictLabel(statusDatas, value)
                        if(value === '2'){
                            return '<p><span data-toggle="tooltip" data-placement="left" title="'+ row.exceptionLog +'">'+ status +'</span></p>'
                        }
                       return status;
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>