<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增ElasticSearch任务')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form autocomplete="off" class="form-horizontal m" id="form-elasticJob-add">
            <h4 class="form-header h4">[[#{user.add.basic.information}]]</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">ASID：</label>
                <div class="col-sm-8">
                    <input name="asid" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Ticket Number：</label>
                <div class="col-sm-8">
                    <input name="ticketNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.name_zh}]]：</label>
                <div class="col-sm-8">
                    <input name="chName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.name_en}]]：</label>
                <div class="col-sm-8">
                    <input name="enName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.status}]]：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_job_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="#{${dict.dictLabel}}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.platform}]]：</label>
                <div class="col-sm-8">
                    <select name="platform" class="form-control m-b" th:with="type=${@dict.getType('ub8_platform_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.cron.expression}]]：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    <input id="cronExpression" name="cronExpression" class="form-control" type="text" required>
                    <span class="input-group-btn">
                        <button id="getNextCron" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" th:title="#{job.view.recent.run.time.info}" style="padding-bottom: 3px;">
                        <i class="fa fa-eye"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.tg.alert}]]：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${'telegramAlert_' + dict.dictCode}" name="telegramAlert" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'telegramAlert_' + dict.dictCode}" th:text="#{${dict.dictLabel}}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" th:title="#{sql.job.tg.info.info}"><i class="fa fa-question-circle-o"></i> [[#{sql.job.tg.info}]]：</label>
                <div class="col-sm-8">
                    <textarea name="telegramInfo" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required" th:title="#{sql.job.ignore.alert.info}"><i class="fa fa-question-circle-o"></i> [[#{sql.job.ignore.alert}]]：</label>
                <div class="col-sm-8">
                    <input name="ignoreAlert" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{sql.job.tg.group}]]：</label>
                <div class="col-sm-8">
                    <select name="telegramConfig" class="form-control m-b" th:with="type=${@dict.getType('telegram_notice_group')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.requester}]]：</label>
                <div class="col-sm-8">
                    <select name="requester" class="form-control m-b" th:with="type=${@dict.getType('job_requester_list')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.priority}]]：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('job_priority_list')}">
                        <input type="radio" th:id="${'priority_' + dict.dictCode}" name="priority" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'priority_' + dict.dictCode}" th:text="#{${dict.dictLabel}}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{sql.job.action}]]：</label>
                <div class="col-sm-8">
                    <select name="actionItem" class="form-control m-b" th:with="type=${@dict.getType('job_call_who')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{sql.job.descr}]]：</label>
                <div class="col-sm-8">
                    <textarea name="descr" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <h4 class="form-header h4">[[#{elastic.job.info}]]</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Index：</label>
                <div class="col-sm-8">
                    <input name="index" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{elastic.job.query}]]：</label>
                <div class="col-sm-8">
                    <textarea name="query" class="form-control" rows="2" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">[[#{common.start.time}]]：</label>
                <div class="col-sm-8">
                    <input name="timeFrom" class="form-control" type="text" placeholder="Ex: now-5m" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">[[#{common.end.time}]]：</label>
                <div class="col-sm-8">
                    <input name="timeTo" class="form-control" type="text" placeholder="Ex: now" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{elastic.job.auto.match}]]：</label>
                <div class="col-sm-8">
                    <select name="autoMatch" class="form-control m-b" th:with="type=${@dict.getType('job_auto_comparison')}" required>
                        <option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label" th:title="#{elastic.job.expected.result.info}"><i class="fa fa-question-circle-o"></i> [[#{elastic.job.expected.result}]]：</label>
                <div class="col-sm-8">
                    <input name="expectedResult" class="form-control" type="text" placeholder="Ex: 1">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "monitor/elasticJob"
        $("#form-elasticJob-add").validate({
            onkeyup: false,
            rules:{
                cronExpression:{
                    remote: {
                        url: prefix + "/checkCronExpressionIsValid",
                        type: "post",
                        dataType: "json",
                        data: {
                            "cronExpression": function() {
                                return $.common.trim($("#cronExpression").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return data;
                        }
                    }
                },
                expectedResult:{
                    digits: true
                },
                ignoreAlert: {
                    digits: true
                }
            },
            messages: {
                "cronExpression": {
                    remote: i18n('sql.job.cron.expression.error')
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-elasticJob-add').serialize());
            }
        }

        $(document).ready(function(){
            $('#cronExpression').blur(function(){
                if ($("#form-elasticJob-add").validate().element($("#cronExpression"))) {
                    var cronExpression = $("[name='cronExpression']").val();
                    $.ajax({
                        type:"POST",
                        url:prefix + "/getCronSchdule",
                        contentType: "application/x-www-form-urlencoded",
                        data : {
                            "cronExpression": cronExpression
                        },
                        success : function(data) {
                            $('#getNextCron').attr('title',data)
                        }
                    });
                } else {
                    $('#getNextCron').attr('title',i18n('job.view.recent.run.time.info'))
                }
            });
        });
    </script>
</body>
</html>