<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('ElasticSearch任务LOG列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form autocomplete="off" id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>[[#{sql.job.id}]]：</label>
                            <input type="text" name="elasticId"  th:value="${job!=null?job.id:''}"/>
                        </li>
                        <li>
                            <label>[[#{sql.job.name}]]：</label>
                            <input type="text" name="params[jobName]"/>
                        </li>
                        <li>
                            <label>[[#{sql.job.platform}]]：</label>
                            <select name="params[platform]" th:with="type=${@dict.getType('ub8_platform_type')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>[[#{sql.job.priority}]]：</label>
                            <select name="params[priority]" th:with="type=${@dict.getType('job_priority_list')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>[[#{sql.job.execute.status}]]：</label>
                            <select name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                <option value="">[[#{user.list.all}]]</option>
                                <option th:each="dict : ${type}" th:text="#{${dict.dictLabel}}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>[[#{sql.job.execute.time}]]：</label>
                            <input type="text" class="time-input" id="startTime" th:placeholder="#{common.start.time}"
                                   name="params[beginStartTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" th:placeholder="#{common.end.time}"
                                   name="params[endStartTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;[[#{common.query}]]</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="monitor:elasticJobLog:remove">
                <i class="fa fa-remove"></i> [[#{common.delete}]]
            </a>
            <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:elasticJobLog:clear">
                <i class="fa fa-remove"></i> [[#{common.clear}]]
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:elasticJobLog:export">
                <i class="fa fa-download"></i> [[#{common.export}]]
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('monitor:elasticJob:edit')}]];
    var removeFlag = [[${@permission.hasPermi('monitor:elasticJob:remove')}]];
    var statusDatas = [[${@dict.getType('sys_common_status')}]];
    var priorityDatas = [[${@dict.getType('job_priority_list')}]];
    var platformDatas = [[${@dict.getType('ub8_platform_type')}]];
    var alertStatusDatas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "monitor/elasticJobLog";

    $(function () {
        var options = {
            url: prefix + "/list",
            cleanUrl: prefix + "/clean",
            detailUrl: prefix + "/detail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "startTime",
            sortOrder: "desc",
            modalName: i18n('elastic.job.log'),
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID'
                },
                {
                    field: 'elasticId',
                    title: i18n('sql.job.id')
                },
                {
                    field: 'moniElastic.chName',
                    title: i18n('sql.job.name_zh'),
                    visible: i18n('locale') !== 'en-US'
                },
                {
                    field: 'moniElastic.enName',
                    title: i18n('sql.job.name_en'),
                    visible: i18n('locale') === 'en-US'
                },
                {
                    field: 'moniElastic.platform',
                    title: i18n('sql.job.platform'),
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(platformDatas, value);
                    },
                },
                {
                    field: 'moniElastic.priority',
                    title: i18n('sql.job.priority'),
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(priorityDatas, value);
                    },
                },
                {
                    field: 'startTime',
                    title: i18n('common.start.time'),
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(value, 'yyyy-MM-dd HH:mm:ss')
                    },
                    sortable: true
                },
                {
                    field: 'endTime',
                    title: i18n('common.end.time'),
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(value, 'yyyy-MM-dd HH:mm:ss')
                    },
                    sortable: true
                },
                {
                    field: 'executeTime',
                    title: i18n('sql.job.execution.time')
                },
                {
                    field: 'operator',
                    title: i18n('sql.job.log.operator')
                },
                {
                    field: 'expectedResult',
                    title: i18n('sql.job.expected.result'),
                    formatter: function (value, row, index) {
                        return '<p><span data-toggle="tooltip" data-placement="left" title="' + value + '"><i class="fa fa-eye"></i></span></p>'
                    },
                    align: 'center',
                },
                {
                    field: 'executeResult',
                    title: i18n('sql.job.execution.result'),
                    formatter: function (value, row, index) {
                        if (value){
                            var array = value.toString().split(';')
                            if (array.length === 2){
                                return '<p><span class="label label-warning" data-toggle="tooltip" data-placement="left" title="' + array[1] + '">' + array[0] + '</span></p>'
                            }
                            var exportResult = row.exportResult
                            if (!exportResult){
                                exportResult = array[0]
                            }
                            return '<p><span class="label label-warning" data-toggle="tooltip" data-placement="left" title="' + exportResult + '">' + array[0] + '</span></p>'
                        }
                        return '<p><span class="label label-warning">NO RESULT</span></p>'
                    }
                },
                {
                    field: 'status',
                    title: i18n('sql.job.execute.status'),
                    formatter: function (value, row, index) {
                        var status = $.table.selectDictLabel(statusDatas, value)
                        if (value === '2') {
                            return '<p><span data-toggle="tooltip" data-placement="left" title="' + row.exceptionLog + '">' + status + '</span></p>'
                        }
                        return status;
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>